body {
    font-family: sans-serif;
}
.wd-explore-bg {
    background-color: black;
    padding: 0 9px 0 16px;
    margin: 0;
}

.wd-header-div {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 0 16px;
    height: fit-content;
    border: 1px solid rgb(47,51,54);
}

.wd-explore-searchbar {
    border-radius: 20px;
    width: 85vw;
    padding: 8px 0 8px 60px;
    background: rgb(33, 35, 39);
    border: none;
}

.wd-searchbar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-color: rgb(47,51,54);
    justify-content: space-between;
}

.wd-navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-navigation-bar .wd-highlight {
    font-size: 15px;
    padding: 16px;
    text-decoration-color:  rgb(29,161,242);
    text-decoration-thickness: 2px;
    text-underline-offset: 18px;
    color: rgb(29,161,242);
}

.wd-navigation-bar > a:not(.wd-highlight) {
    font-size: 15px;
    padding: 16px;
    color: rgb(110,118,125);
    text-decoration: none;
}

.wd-navigation-bar > a:focus {
    text-decoration-color:  rgb(29,161,242);
    text-decoration-thickness: 2px;
    text-underline-offset: 18px;
    color: rgb(29,161,242);
}

.wd-gear-icon {
    text-decoration: none;
    color: rgb(29,161,242);
}

.wd-search-icon {
    color: grey;
    position: absolute;
    left: 45px;
}

.wd-ellipsis-icon {
    margin-top: 2px;
    color: rgb(110,118,125);
}

.wd-empty-space-div {
    background: rgb(33, 35, 39);
    height: 15px;
}

.wd-trending-div {
    border: 1px solid rgb(47,51,54);
    padding: 4px 16px 4px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wd-trending-div > div > p {
    font-size: 13px;
    color: rgb(110,118,125);
}

.wd-trending-div > div > a {
    font-size: 15px;
    color: whitesmoke;
    text-decoration: none;
}

.wd-suggested-post-container-with-author {
    border: 1px solid rgb(47,51,54);
    padding: 4px 16px 12px 16px;
    height: 100px;
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    position: relative;
    font-size: 13px;
}


.wd-suggested-post-container-without-author {
    border: 1px solid rgb(47,51,54);
    padding: 4px 16px 12px 16px;
    height: 100px;
    color: whitesmoke;
    position: relative;
    font-size: 13px;
}


.wd-suggested-post-container-with-author, .wd-suggested-post-container-without-author a {
    font-size: 16px;
}

.wd-suggested-post-date, .wd-suggested-post-title {
    color: rgb(110,118,125);
}

.wd-suggest-post-image {
    width: 100px;
    height: 100px;
    position: absolute;
    right:16px;
    top:8px;
    border-radius: 20px;
}


