.fourteen-px-font {
    font-size: 14px;
}

.sixteen-px-font {
    font-size: 16px;
}

.wd-footer-icons a {
    color: rgb(110,118,125);
}

.lighter-text {
    color: rgb(110,118,125);
}

.form-control {
    color:rgb(110,118,125);
    border-radius: 20px;
    padding: 6px 4px 6px 45px;
    border: 1px solid rgb(110,118,125);
}



.wd-grid-item-a-tag:focus {
    color: white;
}

.wd-grid-item-a-tag:hover {
    color: white;
}

.wd-at-symbol-style {
    font-size: 13px;
    font-family: "Roboto Light",sans-serif;
}

.fa-stack {
    font-size: 1.1em;
    width: 24px;
}

.fa-stack  i {
    vertical-align: middle;
}

.fa-stack#ellipse {
    bottom: 38px;
    left: 3px;
    font-size: .9rem;
}


.fa-search {
    color:rgb(110,118,125);
    position: absolute;
    left: 30px;
}


.rounded-circle{
    height: 52px;
}

.rounded-pill{
    font-size: 13px;
}

.wd-central-content-img {
    border: 1px solid rgb(34,34,34);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.wd-central-content-desc {
    border: 1px solid rgb(34,34,34);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.rounded-corners-all-around {
    border-radius: 8px;
}

.rounded-corners-all-around#center {
    border: 1px solid
}
