@font-face {
    font-family: "Roboto Light";
    src: url("fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("fonts/Roboto/Roboto-Bold.ttf")
}

.main-bg {
    font-family: "Roboto Bold", sans-serif;
    background-color: black;
    color: white;
    font-size: calc(1px + 2vmin);
    margin: 15px;
}

body > h1,h2 {
    color: rgb(29,161,242);
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: rgb(29,161,242);
}

a {
    color: rgb(29,161,242);
}



.reply-retuit-like-share-footer > a {
    margin: 0 7px 0 7px;
}