.main-bg {
    background-color: #282c34;
    color: white;
    font-size: calc(1px + 2vmin);
    margin: 15px;
}

body > h1,h2 {
    color: #61dafb;
}

a:visited {
    color: mediumpurple;
}

a:hover {
    color: #61dafb;
}

a {
    color: #61dafb;
}



.reply-retuit-like-share-footer > a {
    margin: 0 7px 0 7px;
}