.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  text-align: left;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.wd-grid-item-a-tag:focus {
  color: black;
}

.wd-grid-item-a-tag:hover {
  color: black;
}



.fourteen-px-font {
  font-size: 14px;
}

.sixteen-px-font {
  font-size: 16px;
}

.lighter-text {
  color: rgb(110,118,125);

}

.home-lighter-text {
  color: rgb(158,168,175);
}

.wd-search-bar {
  color:rgb(110,118,125);
  border-radius: 20px;
  padding: 8px 4px 8px 45px;
  border: 1px solid rgb(110,118,125);
  font-size: 15px;
}

.wd-search-bar:focus{
  outline-width: 0;
}


.wd-at-symbol-style {
  font-size: 13px;
  font-family: "Roboto Light",sans-serif;
}


.wd-search {
  color:rgb(110,118,125);
  position: absolute;
  left: 30px;
}

.wd-home-border {
    border: 1px solid rgb(158,168,175);
}

.wd-sixty-five-px-img {
  width: 65px;
  height: 65px;
}

.wd-explore-image-text {
  font-size: 32px;
  font-weight: bold;
  color: white;
  z-index: 1
}

.rounded-circle{
  height: 36px;
}


.rounded-pill{
  font-size: 13px;
}

.wd-profile-button-abs {
  right: 15px;
  bottom: 25px;
  background-color: white;
  border: 1px solid rgb(110,118,125);
}

.wd-remove-input-focus:focus {
  outline: none;
}

.rounded-corners-all-around {
  border-radius: 50%;
  height: 52px;
  width: 52px;
}


.wd-central-content-img {
  border: 1px solid rgb(158,168,175);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.wd-central-content-desc {
  border: 1px solid rgb(158,168,175);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.rounded-corners-all-around#center {
  border: 1px solid
}
