@font-face {
    font-family: "Roboto Light";
    src: url("public/tuiter/fonts/Roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto Bold";
    src: url("public/tuiter/fonts/Roboto/Roboto-Bold.ttf")
}

body {
    font-family: "Roboto Bold", sans-serif;
}

.fourteen-px-font {
    font-size: 14px;
}

.sixteen-px-font {
    font-size: 16px;
}

.grey-light-font {
    color: rgb(110,118,125);
    font-family: "Roboto Light",sans-serif;
}

.wd-explore-searchbar {
    color:rgb(110,118,125);
    border-radius: 20px;
    padding: 6px 4px 6px 45px;
    border: 1px solid rgb(110,118,125);
    flex-grow: 1;
    font-size: 16px;
    font-family: "Roboto Light",sans-serif;
}


.wd-searchbar-div {
    display: flex;
    position: relative;
    align-items: center;
}

.wd-gear-icon {
    color: rgb(12,109,253);
}

.wd-grid-item-a-tag:focus {
    color: black;
}

.wd-grid-item-a-tag:hover {
    color: black;
}

.wd-at-symbol-style {
    font-size: 13px;
    font-family: "Roboto Light",sans-serif;
}

.wd-icon-style {
    width: 21px;
    height: 21px;
}


/*.wd-search-icon {*/
/*    color:rgb(110,118,125);*/
/*    position: absolute;*/
/*    left: 20px;*/
/*}*/

.fa-search {
    color:rgb(110,118,125);
    position: absolute;
    left: 30px;
}


.wd-circular-image {
    height: 36px;
    border-radius: 50%;
}
